@model ClientRegistration.ViewModels.ViewModels.RegisterViewModel

@{
    Layout = "~/Views/Shared/_RegistrationLayout.cshtml";
}

@using (Html.BeginForm())
{
    <center>
        <img src="~/Content/Images/Registration-Banner1.png" style="width:20%" />
    </center>
    <br />
    <legend></legend>

    <center><h2>Company Details</h2></center>
    @Html.AntiForgeryToken()
    <hr />
    <div class="form-horizontal">
        <fieldset>
            @*@Html.HiddenFor(model => model.RegisterId)*@
            @*@Html.HiddenFor(model => model.vendorId)*@
            <div class="form-group">
                @Html.LabelFor(model => model.VendorRegNo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.VendorRegNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "RD456GR" } })
                    @Html.ValidationMessageFor(model => model.VendorRegNo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.VendorName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.VendorName, new { htmlAttributes = new { @class = "form-control", @placeholder = "xG Tech" } })
                    @Html.ValidationMessageFor(model => model.VendorName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.VendorEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.VendorEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "someone@outlook.com" } })
                    @Html.ValidationMessageFor(model => model.VendorEmail, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TelephoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TelephoneNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "012 456 7894" } })
                    @Html.ValidationMessageFor(model => model.TelephoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.vendorOwnerShip, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select @Html.EditorFor(model => model.vendorOwnerShip)>

                        <option>Sole Proprietorship</option>
                        <option>Partnership</option>
                        <option>Corporation</option>
                        <option>Limited Liability Company</option>
                        <option>Cooperative</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.vendorType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select @Html.EditorFor(model => model.vendorType)>

                        <option>Service Business</option>
                        <option>Merchandising Business</option>
                        <option>Coporation</option>
                        <option>Manufactoring</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Other, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Other, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Other, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.VendorPostalAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.VendorPostalAddress, new { htmlAttributes = new { @class = "form-control", @placeholder = "XD 23 Sandton Drive,Johnesburg,4059" } })
                    @Html.ValidationMessageFor(model => model.VendorPostalAddress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.vendorDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.vendorDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "We are third party company proving software solution" } })
                    @Html.ValidationMessageFor(model => model.vendorDescription, "", new { @class = "text-danger" })
                </div>
            </div>
        </fieldset>
        <hr />
        <center><h2>Company Administrator Details</h2></center>
        <legend></legend>

        <br />
        <fieldset>
            @* Predefined Input values *@
            @Html.HiddenFor(model => model.Role, new { Value = "BusinessAdmin" })
            @Html.HiddenFor(model => model.RegistrationDate, new { Value = DateTime.Now })
            @Html.Partial("~/Views/Customer/_CustomerPartial.cshtml")
        </fieldset>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Register" class="btn btn-success" />
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
